<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AutoPlay</title>
  <style>
    iframe{
      width: 100vw;
    }
    h1, h2, h4, p{
      padding: 10px;
    }
    i{
      color: black;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/06a7ac0ecc.js" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>

</head>
    <form class="splash-container " action="/admin-panel" method="POST" id="addForm">
        <div class="card " style="width: 600px; max-width: 90vw; margin: 20px auto;">
            <div class="card-header">
                <h3 class="mb-1">Modify Data</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="">Admin Key</label>
                    <input class="form-control form-control-lg" type="text"  name="key" required>
                </div>
                
                <div class="form-group">
                    <label for="">Title</label>
                    <input class="form-control form-control-lg" type="text"  name="val[title]" value="<%= data.title %> " >
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea class="form-control" id="editor" type="text" name="val[description]" rows="6"><%= data.description %></textarea>
                </div>
                <div class="form-group">
                    <label for="">Video ID</label>
                    <input class="form-control form-control-lg" type="text"  name="val[videoID]" value="<%= data.videoID %> " >
                </div>
                <div class="form-group">
                    <label for="">Other Videos</label>
                    <small class="form-text text-muted">Seperate video id with '|'</small>
                    <input class="form-control form-control-lg" type="text"  name="val[ids]" value="<%= data.ids %> " >
                </div>
                
                <div class="form-group pt-2">
                    <button class="btn btn-block btn-primary" type="submit">Update </button>
                </div>
             
               
         
        </div>
    </form>
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>

  <script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
</body>
</html>